---
permalink: "/test"
title: Road and Traffic Signs Mock Test
accordion: 
  - title: Can I take a Driver Theory Test while disqualified from driving?
    content: Yes, you can take a driver theory test while disqualified from driving in the UK, as you don't need a learner permit or driving license to do so. However, you can only take the theory test for the AM or BW categories while disqualified.


  - title: How many Test Categories are there?
    content: The UK's driving theory test has 14 categories that cover about 900 knowledge-based questions. The DVSA randomly selects 50 questions from these categories to appear on the test. These are
          Accidents
          , Alertness
          , Attitude
          , Documents
          , Hazard awareness
          , Motorway rules
          , Other types of vehicle
          , Road and traffic signs
          , Rules of the road
          , Safety and your vehicle
          , Safety margins
          , Vehicle handling
          , Vulnerable road users
          and Vehicle loading

  - title: How many Test Centres are there?
    content: The UK has around 380 [driving test centers](/driving-test-centres), most of which are full-time but some of which are part-time. Each center has its own test routes that are planned by examiners based on the local area. Test routes can vary significantly depending on the location, with city routes often being more difficult due to busier roads

  - title: Can I reschedule or cancel my Test?
    content: It is possible to reschedule or cancel your booking free of charge provided the request is made 5 full working days before the day of your Test and not including the day you reschedule.

  - title: How many questions are there in the theory test and how many marks do I need to pass?
    content: You’ll have 50 multiple-choice questions and 57 minutes to finish. You need to get 43 right to pass. 

  - title: What kind of questions will I be asked in the hazard perception test?
    content: There are 14 clips of road scenes that you’ll watch. They each contain a ‘developing hazard’ that you need to click on to show you know it’s a [hazard](/hazard-perception-test/). 

  - title: What is passing score for theory?
    content: Car drivers and motorcyclists will be asked 50 questions and the pass mark is 43 out of 50. 

  - title: What is the hardest part of a theory test?
    content: Although often deemed the hardest part of the theory test, the [hazard perception](/hazard-perception-test/) section gauges a candidate's situational awareness and makes an essential contribution to road safety competency. 
---
 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    /> 
    {% seo %}
    <link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet" />
    

    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- defer loading of font and font awesome -->
  <noscript id="deferred-styles">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
  </noscript>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {
          "@type": "Question",
          "name": "Can I take a Driver Theory Test while disqualified from driving?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "\nYes, you can take a driver theory test while disqualified from driving in the UK, as you don’t need a learner permit or driving license to do so. However, you can only take the theory test for the AM or BW categories while disqualified."
          }
        },
        {
          "@type": "Question",
          "name": "How many Test Categories are there?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "The UK’s driving theory test has 14 categories that cover about 900 knowledge-based questions. The DVSA randomly selects 50 questions from these categories to appear on the test. These are Accidents , Alertness , Attitude , Documents , Hazard awareness , Motorway rules , Other types of vehicle , Road and traffic signs , Rules of the road , Safety and your vehicle , Safety margins , Vehicle handling , Vulnerable road users and Vehicle loading"
          }
        },
        {
          "@type": "Question",
          "name": "How many Test Centres are there?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "The UK has around 380 driving test centers, most of which are full-time but some of which are part-time. Each center has its own test routes that are planned by examiners based on the local area. Test routes can vary significantly depending on the location, with city routes often being more difficult due to busier roads"
          }
        },
        {
          "@type": "Question",
          "name": "Can I reschedule or cancel my test?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "It is possible to reschedule or cancel your booking free of charge provided the request is made 5 full working days before the day of your Test and not including the day you reschedule."
          }
        },
        {
          "@type": "Question",
          "name": "How many questions are there in the theory test and how many marks do I need to pass?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "You’ll have 50 multiple-choice questions and 57 minutes to finish. You need to get 43 right to pass."
          }
        },
        {
          "@type": "Question",
          "name": "What kind of questions will I be asked in the hazard perception test?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "\nThere are 14 clips of road scenes that you’ll watch. They each contain a ‘developing hazard’ that you need to click on to show you know it’s a hazard."
          }
        },
        {
          "@type": "Question",
          "name": "What is passing score for theory?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Car drivers and motorcyclists will be asked 50 questions and the pass mark is 43 out of 50."
          }
        },
        {
          "@type": "Question",
          "name": "What is the hardest part of a theory test?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Although often deemed the hardest part of the theory test, the hazard section gauges a candidate’s situational awareness and makes an essential contribution to road safety competency."
          }
        }
      ]
    }
    </script>
    <!--FAQPage-->
  </head>
   <!-- Begin Sidebar Navigation
================================================== -->

<div class="sidebar"></div>
<div class="nav-icon">
  <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
  <ul>
    <span class="font-weight-bold">Navigation</span>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/rules-for-pedestrians">Rules For Pedestrians</a></li>
    <li><a href="{{ site.baseurl }}/highway-codes-page">Highway Codes</a></li>
    <li><a href="{{ site.baseurl }}/driving-test-centres">UK Passing Rates</a></li>
    <li><a href="{{ site.baseurl }}/assets/highway-code-road-traffic-signs.pdf">Traffic Signs (PDF)</a></li>
  </ul>
</nav>

{% include search-lunr.html %}

<!-- End Sidebar Navigation
================================================== -->

<div class="site-content {% if page.url == '/' %} firstpage {% endif %}">
  <div class="container">
    <!-- Site Logo/Name
================================================== -->

    <a class="navbar-brand" href="{{ site.baseurl }}/">
      
      <img
        src="{{ site.baseurl }}/{{ site.logo }}"
        alt="{{ site.name }}"
        loading="lazy"
      />
    </a>

    
    <h1 class="posttitle">Road and traffic Sign Test</h1>
 <p class="text-center">Practise your driving theory test for free with these revision questions, answers and explanations</p>
<div id="question-container" class="container"></div>
<div id="pagination-buttons"></div>

<script>
  let currentQuestionIndex = 0;
const totalQuestionsToShow = 50; // Total number of questions to show
let displayedQuestions = []; // Array to keep track of displayed questions
let correctAnswersCount = 0; // Counter for correct answers

// Function to fetch JSON file
async function fetchQuestions() {
    try {
        const response = await fetch('/assets/questions.json');
        if (!response.ok) {
            throw new Error('Failed to fetch questions');
        }
        const data = await response.json();
        return data;
    } catch (error) {
        console.error('Error fetching questions:', error);
        return [];
    }
}

// Function to shuffle the array of questions
function shuffleQuestions(array) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
}

// Function to display questions
function displayQuestions(questions) {
    const questionContainer = document.getElementById('question-container');
    questionContainer.innerHTML = '';

    const question = questions[currentQuestionIndex];
    const questionDiv = document.createElement('div');
    questionDiv.classList.add('row', 'mt-3', 'border', 'p-3');
    questionDiv.innerHTML = `
        <div class="col-md-6">
            <div class="image-container">
                <img src="${question.image || '/assets/images/no-image-available.gif'}" alt="${question.question}" class="img-fluid">
            </div>
            <div id="answerAlert" class="alert alert-dismissible fade" role="alert" style="display:none;"></div>
        </div>
        <div class="col-md-6">
            <div class="info-container">
                <h3>${question.question}</h3>
                <div id="explanation" class="alert alert-success" role="alert" style="display:none;">
                    ${question.explanation}
                </div>
                <form id="answerForm">
                    ${question.questions.map((q, index) => `
                        <input type="radio" id="option${index}" name="answer" value="${index}">
                        <label for="option${index}">${q}</label><br>
                    `).join('')}
                </form>
                <button id="nextButton" class="btn btn-primary mt-3" style="display:none;">Next</button>
            </div>
        </div>
    `;
    questionContainer.appendChild(questionDiv);

    const answerForm = questionDiv.querySelector('#answerForm');
    const nextButton = questionDiv.querySelector('#nextButton');

    answerForm.addEventListener('change', (event) => {
        const selectedIndex = parseInt(event.target.value);
        if (selectedIndex === question.questions.indexOf(question.answer)) {
            displayAlert('alert-success', `✅  ${question.answer}`);
            correctAnswersCount++; // Increment correct answer count
        } else {
            displayAlert('alert-danger', '❌ Incorrect answer');
        }
        displayExplanation(); // Always display explanation
        nextButton.style.display = 'block'; // Always show the "Next" button
    });

    // Function to display explanation
    function displayExplanation() {
        const explanationDiv = questionDiv.querySelector('#explanation');
        explanationDiv.style.display = 'block';
    }

    // Event listener for the "Next" button
    nextButton.addEventListener('click', () => {
        displayedQuestions.push(question); // Mark question as displayed
        currentQuestionIndex++;
        if (currentQuestionIndex < totalQuestionsToShow) {
            if (currentQuestionIndex < questions.length) {
                displayNextQuestion(questions);
            } else {
                displayResult();
            }
        } else {
            displayResult();
        }
    });
}

// Function to display the next question
function displayNextQuestion(questions) {
    const remainingQuestions = questions.filter(q => !displayedQuestions.includes(q));
    if (remainingQuestions.length > 0) {
        const shuffledQuestions = shuffleQuestions(remainingQuestions);
        displayQuestions(shuffledQuestions);
    } else {
        displayResult();
    }
}

// Function to display Bootstrap alert
function displayAlert(alertClass, alertText) {
    const alertDiv = document.getElementById('answerAlert');
    alertDiv.className = `alert ${alertClass} alert-dismissible fade show`;
    alertDiv.textContent = alertText;
    alertDiv.style.display = 'block';
}

// Function to display result
function displayResult() {
    const questionContainer = document.getElementById('question-container');
    questionContainer.innerHTML = '';

    const resultDiv = document.createElement('div');
    resultDiv.classList.add('row', 'justify-content-center', 'text-center', 'py-5');
    resultDiv.innerHTML = `
        <div class="col-md-6">
            <h2>Congratulations!</h2>
            <p>You have completed all the questions.</p>
            <p>Your score is <span class="badge badge-success">${correctAnswersCount}</span> out of <span class="badge badge-primary">${totalQuestionsToShow}</span>.</p>
            <a href="/test" class="btn btn-primary">Restart Quiz</a>
        </div>
    `;
    questionContainer.appendChild(resultDiv);
}

// Entry point
async function main() {
    const questions = await fetchQuestions();
    if (questions.length > 0) {
        const shuffledQuestions = shuffleQuestions(questions);
        displayQuestions(shuffledQuestions); // Display first random question
    } else {
        console.error('No questions available.');
    }
}

main();

</script>


<!-- _includes/cta.html -->
 
{% include cta.html %}

{% include testimonials.html %}

{% include accordion.html %}

</div>
  <!-- Begin Footer
================================================== -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center text-lg-left">
        Copyright © {{ site.time | date: "%Y" }}DTT

          
        <a href="{{ site.baseurl }}/test">Road Sign Test</a> | 
   <a href="{{ site.baseurl }}/highway-codes-page">Highway Codes</a> | 
       <a href="{{ site.baseurl }}/driving-test-centres">UK Passing Rates</a> | <a href="{{ site.baseurl }}/assets/highway-code-road-traffic-signs.pdf">Traffic Signs (PDF)</a>
      </div>
      <div class="col-md-6 col-sm-12 text-center text-lg-right">
        <span class="ml-3 text-muted small">Follow</span>

        <a
          target="_blank"
          href="https://www.facebook.com/theorydrivingtest/"
        >
        <i class="fab fa-facebook-f ml-3"></i>
        </a>
        <a
        target="_blank"
        href="https://g.page/r/CeFuZKROxW_yEBM/review"
      >
      <i class="fab fa-google ml-3"></i>
          </a>
          <a
          target="_blank"
          href="https://twitter.com/drivetheorytest"
        >
        <i class="fab fa-twitter ml-3"></i>
            </a>
          <div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer
================================================== -->
</div>
<!-- /.site-content -->

<script src="{{ site.baseurl }}/assets/js/prism.js"></script>

<script src="{{ site.baseurl }}/assets/js/theme.js"></script>

{% if site.lazyimages == "enabled" %}
<script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
{% endif %}

{% include cookie-consent.html %}

</body>
</html>
