<div class="container my-5 border border-light">
    <div class="row">
        <div class="col-lg-5">
          <h2>Pass the theory test</h2>
          <span class="text-secondary">This course has everything you need to pass your driving theory test first time. Includes licensed DVSA content.</span>
  
        </div>
        <div class="col-lg-7">
            <div class="d-flex flex-column justify-content-center h-100">
      
              <!-- <a href="{{site.affiliate-link}}" class="btn btn-primary btn-lg px-4 py-3 text-white rounded-pill mt-3 mt-sm-0" style="font-size: 1.2rem;">Get Started</a> -->
              <a href="https://testbuddy.app/theory-test-practice-offer/?ref=46" class="btn btn-primary btn-lg px-4 py-3 text-white rounded-pill mt-3 mt-sm-0" style="font-size: 1.2rem;">All Courses</a>
  
              
            </div>
        </div>
    </div>
  </div>