<div class="container my-5 border border-light">
  <div class="row">
      <div class="col-lg-5">
          <h3>Pass the theory test</h3>
          <span class="text-secondary">This course has everything you need to pass your driving theory test first time. Includes licensed DVSA content.</span>
          <!-- Star Rating -->
          <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
          </div>
      </div>
      <div class="col-lg-7">
          <div class="d-flex flex-column justify-content-center h-100">
              <!-- <a href="{{site.affiliate-link}}" class="btn btn-primary btn-lg px-4 py-3 text-white rounded-pill mt-3 mt-sm-0" style="font-size: 1.2rem;">Get Started</a> -->
              <a href="{{site.affiliate-link}}" class="btn btn-primary btn-lg px-4 py-3 text-white rounded-pill mt-3 mt-sm-0" style="font-size: 1.2rem;"><i class="fa fa-shopping-cart"></i> 10% OFF - Buy All Courses</a>
          </div>
      </div>
  </div>
</div>
<style>
  /* Star Rating CSS */
.star-rating {
    color: #FFD700;
    font-size: 24px;
}

.checked {
    color: #FFD700;
}
</style>