<section class="testimonial-section">
    <h2>Success Stories</h2>
    <div class="testimonials">
      <div class="testimonial">
        
        <p>"Thanks to the comprehensive materials and practice tests, I passed my theory test on the first try!" - Nat</p>
        <img src="/assets/images/testimonials/team1.png" alt="Jane D." class="testimonial-image">
      </div>
      <div class="testimonial">
        
        <p>"The expert tips were incredibly helpful. I felt confident and prepared for the exam." - Nasul</p>
        <img src="/assets/images/testimonials/team2.png" alt="John S." class="testimonial-image">
      </div>
      <div class="testimonial">
      
        <p>"A fantastic resource for anyone preparing for their driving theory test. Highly recommended!" - Emily</p>
        <img src="/assets/images/testimonials/team3.png" alt="Sarah T." class="testimonial-image">
      </div>
    </div>
  </section>